<!DOCTYPE html>
<html lang="<%= lang %>">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/main.css" />

    <title>Room with a View - <%= locale.title %></title>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script>
</head>

<body id="<%= pageId %>">
    <header>
        <div>
            <div class=".logotype-container">
                <a href="/">
                    <picture>
                        <source media="(min-width: 600px)" srcset="/static/svg/logo.svg" />
                        <img class="icon icon-small" src="/static/svg/icon.svg" alt="<%= locale.alts.logotype %>" />
                    </picture>
                </a>
            </div>

            <div class=".menu-button" aria-label="<%= locale.arias.menu %>">
                <img class="icon icon-small" src="/static/svg/vendors/lineicons/menu.svg" alt />
            </div>
        </div>
    </header>

    <div id="app">
        <%- include(contentPath); %>
    </div>
</body>

</html>