<aside>
    <form @submit.prevent="submit()" id="search-form">
        <div>
            <div>
                <div class="searchbox">
                    <input v-model="options.query" type="search" autocapitalize="none" autocomplete="off"
                        autocorrect="off" placeholder="<%= locale.search %>" />
                    <button type="submit">
                        <img class="icon icon-small" src="/static/svg/vendors/lineicons/search-alt.svg" alt>
                    </button>
                </div>
            </div>

            <div>
                <div @click="toggleFiltersShown" class="dropdown-button">
                    <%= locale.filter %>

                    <img class="icon icon-inline anim" :class='{ "hflip": !filtersShown }'
                        src="/static/svg/vendors/lineicons/chevron-down.svg">
                </div>

                <select @change="onSelectOption($event)" class="dropdown-button" name="sort_by">
                    <option value hidden selected><%= locale.sort %>&nbsp;&nbsp;&#x25BE;</option>

                    <% for (const [value, name] of Object.entries(locale.sort_order)) { %>
                    <option value="<%= value %>">
                        <%= name %>
                    </option>
                    <% } %>
                </select>
            </div>
        </div>

        <div v-cloak class="anim" :class='{ "hcollapse": !filtersShown }'>
            <div>
                <select @change="onSelectOption($event)" class="dropdown-button highlight-box" name="filter_country">
                    <option value hidden selected><%= locale.country %>&nbsp;&nbsp;&#x25BE;</option>

                    <option value="1">A</option>
                    <option value="2">B</option>
                </select>

                <select @change="onSelectOption($event)" class="dropdown-button highlight-box" name="filter_brand">
                    <option value hidden selected><%= locale.brand %>&nbsp;&nbsp;&#x25BE;</option>

                    <option value="1">C</option>
                    <option value="2">D</option>
                </select>

                <select @change="onSelectOption($event)" class="dropdown-button highlight-box" name="filter_available">
                    <option value hidden selected><%= locale.available %>&nbsp;&nbsp;&#x25BE;</option>

                    <option value="1">E</option>
                    <option value="2">F</option>
                </select>
            </div>

            <div id="filter-tags">
                <h1><%= locale.selected_filters %></h1>

                <small v-if="filterTags.length === 0"><%= locale.no_filters %></small>

                <div class="filter-box" v-for="filterTag in filterTags" @click="removeFilterTag(filterTag)">
                    {{filterTag.name}}
                    <img class="icon icon-inline" src="/static/svg/vendors/lineicons/cross-circle.svg">
                </div>
            </div>
        </div>
    </form>
</aside>

<main>
    <div id="search-results">
        <article v-for="result in results">
            <img src :alt='result.images[0].alts[lang] || result.images[0].alts["en"]'
                :data-src='result.images[0].src || "/static/images/missing.png"' data-meta="w=2&h=1">

            <h1>{{result.title[lang] || result.title["en"]}}</h1>

            <div class="filter-box">
                <%= locale.rooms_left_prefix %> {{result.available}} <%= locale.rooms_left_suffix %>
            </div>

            <div class="rating">
                <img class="icon icon-small" v-for="i in Math.round(result.rating)"
                    src="/static/svg/vendors/lineicons/star-filled.svg">
                <img class="icon icon-small" v-for="i in (5 - Math.round(result.rating))"
                    src="/static/svg/vendors/lineicons/star.svg">
            </div>
        </article>
    </div>
</main>

<script src="/static/js/browse.js"></script>